# Ignore Gradle build directories
.gradle/
build/

# Ignore IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/

# Ignore VS Code files
.vscode/

# Ignore H2 Database files (if not in temp, otherwise temp will handle it)
*.mv.db
*.trace.db

# Ignore log files
error.txt

# Do NOT ignore temp/ folder
#!temp/
